[submodule "depends/libsodium"]
	path = depends/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "depends/mbedtls"]
	path = depends/mbedtls
	url = https://github.com/ARMmbed/mbedtls
[submodule "depends/libbloom"]
	path = depends/libbloom
	url = https://github.com/shadowsocks/libbloom.git
